@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
nav {
  background: rgb(228, 119, 32);
  background: linear-gradient(
    326deg,
    rgba(228, 119, 32, 1) 0%,
    rgba(255, 226, 90, 1) 40%,
    rgba(255, 223, 89, 1) 59%,
    rgba(255, 157, 60, 1) 100%
  );
  display: flex;
  margin: 0;
  justify-content: center;
  font-size: 25px;
}

body {
  background: rgb(0, 21, 143);
  background: linear-gradient(
    326deg,
    rgba(0, 21, 143, 1) 0%,
    rgba(255, 0, 254, 1) 48%,
    rgba(0, 7, 108, 1) 100%
  );
  margin: 0;
  font-family: sans-serif;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 34px;
  text-align: center;
  color: white;
  margin-top: 200px;
}
h2:hover {
  color: yellow;
  text-shadow: 0 0 5px aqua;
}

.clock {
  justify-content: center;
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  background: lawngreen;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 7px 7px 0px 0px;
}
.clock span:hover {
  background-color: grey;
  opacity: 100%;
  color: red;
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: darkblue;
  opacity: 0.8;
  border-radius: 0px 0px 7px 7px;
}
.clock .text:hover {
  background-color: bisque;
  color: black;
}

.clock #ampm {
  bottom: 0;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background: black;
  border-radius: 7px;
}

/* responsive */
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: block;
  }
}
